@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --headerH: 54px;
  --footerH: 24px;
}

:root, .light, .light-theme {
  --blue-1: #fcfdff;
  --blue-2: #f6f9ff;
  --blue-3: #ebf2ff;
  --blue-4: #dde9ff;
  --blue-5: #cddeff;
  --blue-6: #bad0ff;
  --blue-7: #a1bcff;
  --blue-8: #7fa0ff;
  --blue-9: #7595ff;
  --blue-10: #6a89f2;
  --blue-11: #425cc0;
  --blue-12: #1a286e;

  --blue-a1: #0055ff03;
  --blue-a2: #0055ff09;
  --blue-a3: #005aff14;
  --blue-a4: #005aff22;
  --blue-a5: #0057ff32;
  --blue-a6: #0052ff45;
  --blue-a7: #004aff5e;
  --blue-a8: #0042ff80;
  --blue-a9: #003cff8a;
  --blue-a10: #0035e995;
  --blue-a11: #0023aabd;
  --blue-a12: #00105ee5;

  --blue-contrast: #fff;
  --blue-surface: #f4f8ffcc;
  --blue-indicator: #7595ff;
  --blue-track: #7595ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --blue-1: oklch(99.4% 0.0022 269.3);
      --blue-2: oklch(98.3% 0.0114 269.3);
      --blue-3: oklch(96.1% 0.0241 269.3);
      --blue-4: oklch(93.5% 0.0476 269.3);
      --blue-5: oklch(90.3% 0.0719 269.3);
      --blue-6: oklch(86.3% 0.1 269.3);
      --blue-7: oklch(80.7% 0.1222 269.3);
      --blue-8: oklch(73% 0.1597 269.3);
      --blue-9: oklch(69.4% 0.1597 269.3);
      --blue-10: oklch(65.6% 0.1597 269.3);
      --blue-11: oklch(51% 0.1597 269.3);
      --blue-12: oklch(31.3% 0.1221 269.3);

      --blue-a1: color(display-p3 0.0235 0.349 1 / 0.012);
      --blue-a2: color(display-p3 0.0196 0.2667 0.8784 / 0.032);
      --blue-a3: color(display-p3 0.0078 0.3216 0.949 / 0.075);
      --blue-a4: color(display-p3 0.0078 0.3176 0.9412 / 0.126);
      --blue-a5: color(display-p3 0.0039 0.2824 0.9373 / 0.185);
      --blue-a6: color(display-p3 0.0039 0.2627 0.9412 / 0.255);
      --blue-a7: color(display-p3 0.0039 0.2392 0.9451 / 0.35);
      --blue-a8: color(display-p3 0.0039 0.2078 0.9451 / 0.475);
      --blue-a9: color(display-p3 0 0.1922 0.949 / 0.518);
      --blue-a10: color(display-p3 0 0.1686 0.8627 / 0.561);
      --blue-a11: color(display-p3 0 0.1098 0.6235 / 0.722);
      --blue-a12: color(display-p3 0 0.0471 0.3412 / 0.887);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9608 0.9725 1 / 0.8);
      --blue-indicator: oklch(69.4% 0.1597 269.3);
      --blue-track: oklch(69.4% 0.1597 269.3);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #fdfdfd;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e1e1e1;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8c8c8c;
  --gray-10: #828282;
  --gray-11: #626262;
  --gray-12: #202020;

  --gray-a1: #00000002;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001e;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000073;
  --gray-a10: #0000007d;
  --gray-a11: #0000009d;
  --gray-a12: #000000df;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8c8c8c;
  --gray-track: #8c8c8c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.4% 0 none);
      --gray-2: oklch(98.2% 0 none);
      --gray-3: oklch(95.6% 0 none);
      --gray-4: oklch(93.2% 0 none);
      --gray-5: oklch(91% 0 none);
      --gray-6: oklch(88.6% 0 none);
      --gray-7: oklch(85.3% 0 none);
      --gray-8: oklch(79.2% 0 none);
      --gray-9: oklch(64.1% 0 none);
      --gray-10: oklch(60.6% 0 none);
      --gray-11: oklch(49.8% 0 none);
      --gray-12: oklch(24.3% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0.0078);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0588);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1176);
      --gray-a6: color(display-p3 0 0 0 / 0.149);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.451);
      --gray-a10: color(display-p3 0 0 0 / 0.4902);
      --gray-a11: color(display-p3 0 0 0 / 0.6157);
      --gray-a12: color(display-p3 0 0 0 / 0.8745);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.1% 0 none);
      --gray-track: oklch(64.1% 0 none);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto
}

html, body {
  font-family: "Roboto Mono", monospace;
  color: var(--gray-12);
  width: 100%;
  height: 100%;
}

ol, ul, li { list-style: none };

body {
  position: relative;
  z-index: 1;
  background-color: #fffef8;
  background-image: 
    radial-gradient(#c3d4f7 1px, transparent 1px);
  background-size: 20px 20px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(134deg, transparent 5% 1%, #fff);
    z-index: -1;
  }
}

#main {
  height: 100%;
  font-size: 14px;

  display: flex;
  flex-direction: column;

  header, main, footer {
    @include section();
  }

  header {
    flex: 0 0 var(--headerH);
    height: var(---headerH);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.6rem;
    }
  }

  main {
    flex: 1 0 auto;
    min-height: 0px;
  }

  footer {
    flex: 0 0 var(--footerH);
    height: var(---footerH);
    display: flex;
    align-items: center;

    .copy {
      color: var(--gray-10);
      font-size: 12px;
    }
  }
}

button, input { font-family: inherit }

#app {
  height: 100%;
}